*.pyc
*.egg-info
build
dist
*~
*.pdb
*.xml
*.dcd
*.csv
*.mol2
*.str
*.inp
*.psf
*.xlsx
*.json
*.jpg
*.cif
oe_license.txt
examples/OFFBenchmark/CIF/*.cif
!examples/OFFBenchmark/*/*.csv
examples/analysis/*.py
